[submodule "runtime/lib/flanterm"]
	path = lib/flanterm
	url = https://codeberg.org/mintsuki/flanterm.git
[submodule "runtime/lib/limine"]
	path = lib/limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "lib/freestnd-c-hdrs"]
	path = lib/freestnd-c-hdrs
	url = https://codeberg.org/osdev/freestnd-c-hdrs-0bsd.git
